<h1>Paste Long URL Below:</h1>

<div class="row">

	<div class="span8 offset2">

		<%= form_for(@link, remote:true) do |f| %>

			<%= f.text_field :long_url %>

			<%= f.submit "Go!", class:"btn btn-large btn-primary" %>

		<% end %>


	</div>

	<br><br>

	<div id="short_url"> </div>

</div>